.nav1{
    display: flex;
    background-color:white;
    align-items: center;
    width: 375px;
    padding:1rem .5rem;
}
.nav1Img1{
 width: 20%;
 height: 20%;
 margin-left: 10%;
}
.nav1div1{
    
 text-decoration: none;
 display: flex;
 margin-left: 20%;
}
.navLi1{
    text-decoration: none;
    margin-right: 1rem;
    color:#01463a;
    font-family: 'Muli-Bold',Helvetica;
    font-size: 11px;
    font-weight: 700;
}
.nav1Body{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.nav1Img2{
    width: 1rem;
    height: .2rem;
    margin-bottom: .1rem;
}
.nav1Img21{
    width: .8rem;
    margin-left: .2rem;
    height: .2rem;
    margin-bottom: .1rem;
}
.nav1Img22{
    width: .6rem;
    margin-left: .4rem;
    height: .2rem;
    margin-bottom: .1rem;
}